/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15/11/2015, 22:59:59
    Author     : trbra
*/
@charset "UTF-8";

.btn{
    color: black;   
    border-radius: 3px;
    box-shadow: 0px 0px 2px black;
    font-family: serif;
    border-style: none;
}

.btnMenor{
    background-color: #eed3d7;
    height: 30px;
    width: 80px;
}

.btnMaior{
    background-color: #C29898;
    font-size: 20px;
    height: 60px;
    width: 200px;
}

.btn:hover{
    box-sizing: border-box;
    box-shadow: 0px 0px 4px black;
    cursor:pointer;
}

.btnPrincipal{
    text-align: right;
}

.btnExe{
    position: absolute;
    right: 300px;
    bottom: 40px;
}

.btnAlt{
    position: absolute;
    right: 180px;
    bottom: 40px;
}
.btnDel{
    position: absolute;
    right: 60px;
    bottom: 40px;
}

.btnInp{
    height: 40;
}